<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>

    <link rel="stylesheet" href="/public/assets/lib/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>

<body class="container">
    <main>