<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="/public/assets/lib/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>

<body class="container">
    <main>
        <div class="row">
            <div class="col-md-3">
                <div class="sidear">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Book</a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">All Books</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">New Book</a></li>
                                </ul>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">My Account</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled">Logout</a>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="col-md-9">

            <!-- </div>
        </div> -->